<div class="container">
    <div class="column_order">
        <div class="container_order">
            <div class="order btn">
                <span>
                    Хочу заказать
                </span>
            </div>
        </div>
    </div>
    <div class="desc">
        вы выбрали <span class="total_quantity">{{total_quantity}} блюд</span> на <span class="total_price">{{total_price}} руб.</span>
    </div>
</div>