<div class="region_original">
    <div class="container_expand">
        <a class="expand glyphicon glyphicon-menu-hamburger" href="#"></a>
    </div>
    <div class="container_logo">
        <a class="logo" href="/"></a>
    </div>
    <div class="container_lang">
        <a href="http://en.tiflisgurme.com/" data-lang="ru" class="lang hide">EN</a>
        <a href="http://tiflisgurme.com/" data-lang="en" class="lang hide">RUS</a>
    </div>
</div>
<ul class="region_expand collapse out list-unstyled">
   <li>
       <a href="/menu/">Меню</a>
   </li>
   <li>
       <a href="/shipping/">Доставка</a>
   </li>
   <li>
       <a href="/news/">Новости</a>
   </li>
   <li>
       <a href="/contact/">Контакты</a>
   </li>
   <li>
       <a href="/vacancy/">Вакансии</a>
   </li>
</ul>