<div class="container">
    <ul class="navbar-left list-inline">
        <li data-link="menu">
            <div class="container_hex">
                <span class="hex"></span>
            </div>
            <a href="/menu/">Меню</a>
        </li>
        <li data-link="shipping">
            <div class="container_hex">
                <span class="hex"></span>
            </div>
            <a href="/shipping/">Доставка</a>
        </li>
    </ul>
    <div class="container_logo">
        <a class="logo" href="/"></a>
    </div>
    <ul class="navbar-right list-inline">
        <li data-link="news">
            <a href="/news/">Новости</a>

            <div class="container_hex">
                <span class="hex"></span>
            </div>
        </li>
        <li data-link="contact">
            <a href="/contact/">Контакты</a>

            <div class="container_hex">
                <span class="hex"></span>
            </div>
        </li>
    </ul>
</div>