<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 newsitem_detail">
            <div class="container_heading">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="date">
                            {{ date }}
                        </div>
                    </div>
                    <div class="col-xs-8 text-right">
                        <div class="title">
                            {{ title }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="desc">
                {{ text }}
            </div>

            <div class="container_image">
                <img src="{{ thumbnail }}">
            </div>
        </div>

    </div>
</div>