<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="container_image">
                <img src="{{image}}" alt="">
            </div>
            <div class="container_name">
                {{image}}
            </div>
            <div class="container_price">
                {{price}} руб.
            </div>
            {{desc}}
            <div class="container_close">
                <div class="close glyphicon glyphicon-close"></div>
            </div>

        </div>
    </div>
</div>