<div class="angle"></div>
<ul class="lang_list list-unstyled list-inline">
    <li data-lang="ru">
        <a href="http://tiflisgurme.com/">RUS</a>
    </li>
    <li data-lang="en">
        <a href="http://en.tiflisgurme.com/">EN</a>
    </li>
</ul>