<div class="angle"></div>
<ul class="lang_list list-unstyled list-inline">
    <li data-lang="ru">
        <a href="/ru/{{path}}">RUS</a>
    </li>
    <li data-lang="en">
        <a href="/en/{{path}}">EN</a>
    </li>
</ul>