
html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  background: @yellow;
  margin-bottom: 10000px;
}

.content {
  padding-top: 35px;
}

.phone_list {
  li {
    font-size: 20px;
    color: @brand-primary;
  }
}

hr {
  border-top: 1px solid @brand-primary;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: lighten(@pink, 20%);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lighten(@pink, 20%);
}

form {
  input, textarea, button {
    outline: none;
  }
}

.btn {
  background: lighten(@pink, 25%);
  color: @pink;
  >* {
    text-underline: none;
    &:hover {
      border-bottom: 1px solid @pink;
    }
  }
}