@border_gutter: 10px;
.body_category {
  .container_category_list {
    position: relative;
    margin: @border_gutter;
    &:after, &:before {
      position: absolute;
      content: " ";
      border: 1px solid @pink;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &:before {
      left: -1 * @border_gutter;
      right: -1 * @border_gutter;
    }
    &:after {
      top: -1 * @border_gutter;
      bottom: -1 * @border_gutter;
    }
  }

  .category_list {
    padding: 20px 0;
    .category_item {
      text-align: center;
      a {
        line-height: 36px;
        color: #000;
        font-size: 18px;
      }
      &.active, &:hover {
        a {
          letter-spacing: 1px;
          color: @bord;
          border-bottom: 2px solid @bord;
        }
      }
    }
  }

  .layout_table {
    margin-top: 60px;
    .product_list {
      text-align: center;
      .product_item {
        text-align: left;
        display: inline-block;
        width: 231px;
        border-top: 1px solid @pink;
        border-bottom: 1px solid @pink;
        margin-bottom: 50px;
        .container_image {
          text-align: center;
          img {
            cursor: pointer;
            max-width: 100%;
          }
        }
        .container_empty_image {
          text-align: center;
          height: 150px;
          background-color: #fff;
          img {
            margin-top: 40px;
            width: 93px;
            height: 55px;
            opacity: 0.65;
          }
        }

        .container_name {
          height: 50px;
          overflow: hidden;
          padding: 5px 10px;
          text-transform: uppercase;
          border-bottom: 1px solid @pink;
          .name {
            display: inline-block;
            vertical-align: top;
            color: #000;
          }
        }
        .container_price {
          padding: 10px;
          letter-spacing: 0.8px;
        }
        .price {
          display: inline-block;
        }

        .container_buy {
          display: inline-block;
          float: right;
          box-sizing: border-box;
          .remove, .add {
            cursor: pointer;
            height: 20px;
            width: 20px;
            display: inline-block;
          }
          .remove {
            background-image: url('/static/svg/minus_pink.svg');
            &:hover {
              background-image: url('/static/svg/minus_bord.svg');
            }
          }
          .add {
            background-image: url('/static/svg/plus_pink.svg');
            &:hover {
              background-image: url('/static/svg/plus_bord.svg');
            }
          }
          .quantity {
            display: inline-block;
            position: relative;
            height: 20px;
            width: 20px;
            vertical-align: top;
            text-align: center;
          }
        }

        &:hover {
          border-top: 1px solid @bord;
          border-bottom: 1px solid @bord;
          .container_name {
            border-bottom: 1px solid @bord;
            .name {
              color: @bord;
            }
          }
          .price {
            color: @bord;
          }
          .container_buy {
            .remove, .add {
              display: inline-block;
            }
            .quantity {
              color: @bord;
            }
          }
        }
      }
    }
  }

  .layout_menu {
    margin-top: 60px;

    .leaders {
      padding: 0;
      overflow-x: hidden;
      list-style: none;
      li {
        &:before {
          float: left;
          width: 0;
          white-space: nowrap;
          content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . "
        }
      }
      span {
        & + span {

          float: right;
          padding-left: 0.33em;
          background: @yellow;
        }
        &:first-child {
          padding-right: 0.33em;
          background: @yellow;
        }
      }
    }

    .product_list {
      .sc_item {
        .sc_name {
          display: block;
          font-size: 20px;
          color: @bord;
          text-align: center;
          margin-bottom: 10px;
        }
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid @bord;
        &:last-child {
          border-bottom: 0;
        }
      }
    }

    .container_category_image {
      text-align: center;
      img {
        max-width: 100%;
      }
    }
  }

  .region_modal {
    .container_image {
      text-align: center;
      img {
        max-width: 100%;
      }
    }
    .container_name {
      border-bottom: 1px solid #fff;
      margin-bottom: 10px;
      .name {
        text-transform: uppercase;
        padding: 3px 10px;
        letter-spacing: 1px;
      }
    }
    .container_desc {
      padding: 3px 10px;
      .price {

      }
      .desc {
        margin-top: 40px;
        margin-bottom: 30px;
      }
    }
    .container_close {
      @media (min-width: @screen-md-min) {
        text-align: right;
        position: absolute;
        top: -15px;
        right: 0;
      }
    }
  }
}