.body_contact {
  .container_time {
    .glyphicon {
      font-size: 24px;
      color: @pink;
    }
  }
  h1 {

  }
  .khink {
    margin: 30px;
  }
  form {

    textarea, input {
      border: 1px solid @pink;
      padding: 5px;
      background: @yellow;
      &:focus, &:active {
        background: #fff;
      }
      display: block;
      margin-bottom: 15px;
      width: 100%;
      color: @pink;
    }
    button {
      background: lighten(@pink, 25%);
      margin-top: 20px;
      color: @pink;
      text-transform: uppercase;
      padding: 5px 30px;
      letter-spacing: 2px;
      font-size: 12px;
    }
  }

  .success_message {
    font-size: 18px;
    text-transform: uppercase;
    color: @bord;
  }
}
