
footer {
  background: url('/static/img/footer_bg_80.jpg');
  position: absolute;
  bottom: 0;
  width: 100%;
  color: @bord2;
  min-height: 293px;
  padding-top: 23px;
  padding-bottom: 27px;
  @media (max-width: @screen-xs-max) {
    padding-top: 10px;
  }

  .panel {
    border: 5px solid @brand-primary;
    .panel-body {
      display: block;
      background: @brand-primary;
      border: 1px solid @bord;
      text-align: center;
      text-transform: uppercase;
      color: @bord;
      &:hover {
        color: #fff;
        border-color: #fff;
        cursor: pointer;
      }
    }

    &.social {
      margin-bottom: 0px;
      @media (max-width: @screen-xs-max) {
        margin-bottom: 10px;
      }
      .panel-body {
        .container_social_list {
          line-height: 60px;
          height: 60px;
          vertical-align: middle;
        }
        .social_list {
          line-height: normal;
          display: inline-block;
          margin: 0;
          li {
            text-align: center;
            height: 38px;
            width: 38px;
            margin-left: 4px;
            &:first-child {
              margin-left: 0px;
            }
            border-radius: 19px;
            background-color: @bord2;
            &:hover {
              border-color: #fff;
              background-color: #fff;
            }
            border: 1px solid @bord2;
            a {
              font-size: 20px;
              display: inline-block;
              margin-top: 7px;
              color: @pink;
              text-decoration: none;
            }
          }
        }
      }
    }
    &.vacancy {
      margin-bottom: 74px;
      @media (max-width: @screen-xs-max) {
        margin-bottom: 10px;
      }
      .heading {
        height: 60px;
        line-height: 60px;
        vertical-align: middle;
      }
    }
    &.production {
      @media (max-width: @screen-xs-max) {
        margin-bottom: 10px;
      }
      .heading {
        height: 60px;
        line-height: 60px;
        vertical-align: middle;
        @media (max-width: @screen-xs-max) {
          margin-bottom: 0;
        }
      }
      .panel-body {
        height: 206px;
        @media (max-width: @screen-xs-max) {
          height: inherit;
        }
      }
      .image {
        margin-left: auto;
        margin-right: auto;
        height: 121px;
        @media (max-width: @screen-sm-max) {
          height: 40px;
        }
        opacity: 0.75;
        background: url('/static/img/anabella.jpg') center no-repeat;
      }

      &:hover {
        .image {
          opacity: 1;
        }
      }
    }
    &.friends {
      .heading {
        height: 60px;
        line-height: 60px;
        vertical-align: middle;
        @media (max-width: @screen-xs-max) {
          margin-bottom: 0;
        }
      }
      .image {
        margin-top: 40px;
        @media (max-width: @screen-xs-max) {
          margin-top: 0px;
        }
        margin-left: auto;
        margin-right: auto;
        height: 30px;
        background: url('/static/img/salvador_bord.png') center no-repeat;
        background-size: contain;
      }
      .panel-body {
        height: 206px;
        @media (max-width: @screen-xs-max) {
          height: inherit;
        }
      }
      &:hover {
        .image {
          background: url('/static/img/salvador_white.png') center no-repeat;
        }
      }
    }
    .heading {
      font-size: 20px;
    }
  }
  .copyright {
    font-family: sans-serif;
    border-top: 1px solid @bord;
    line-height: 27px;
    a {
      color: @pink2;
      &:hover {
        color: @bord2;
      }
    }
    width: 100%;
    position: absolute;
    bottom: 0;
    background: @pink;
    .code {
      float: right;
      padding-right: 15px;
    }
    .design {
      text-align: center;
    }
  }
}