footer {
  background: url('/static/img/footer_bg_80.jpg');
  position: absolute;
  bottom: 0;
  width: 100%;
  color: @bord2;
  min-height: 293px;
  padding-top: 23px;
  padding-bottom: 27px;
  @media (max-width: @screen-xs-max) {
    padding-top: 10px;
  }

  .panel {
    border: 5px solid @brand-primary;
    .panel-body {
      display: block;
      background: @brand-primary;
      border: 1px solid @bord;
      text-align: center;
      text-transform: uppercase;
      color: @bord;
      &:hover {
        color: #fff;
        border-color: #fff;
        cursor: pointer;
      }
    }

    &.social {
      margin-bottom: 0px;
      @media (max-width: @screen-xs-max) {
        margin-bottom: 10px;
      }
      .panel-body {
        .container_social_list {
          line-height: 60px;
          height: 60px;
        }
        .social_list {
          vertical-align: middle;
          line-height: 38px;
          display: inline-block;
          margin: 0;
          li {
            text-align: center;
            height: 38px;
            width: 38px;
            margin-left: 4px;
            &:first-child {
              margin-left: 0px;
            }
            border-radius: 19px;
            background-color: @bord2;
            &:hover {
              border-color: #fff;
              background-color: #fff;
            }
            border: 1px solid @bord2;
            a {
              font-size: 20px;
              display: inline-block;
              color: @pink;
              line-height: 38px;
              text-decoration: none;
            }
          }
        }
      }
    }
    &.vacancy {
      margin-bottom: 74px;
      @media (max-width: @screen-xs-max) {
        margin-bottom: 10px;
      }
      .heading {
        height: 60px;
        line-height: 60px;
        vertical-align: middle;
      }
    }
    &.production {
      @media (max-width: @screen-xs-max) {
        margin-bottom: 10px;
      }
      .heading {
        height: 60px;
        line-height: 60px;
        vertical-align: middle;
        overflow: hidden;
        @media (max-width: @screen-xs-max) {
          margin-bottom: 0;
          font-size: 18px;
        }
      }
      .panel-body {
        height: 206px;
        @media (max-width: @screen-xs-max) {
          height: inherit;
        }
      }
      .image {
        margin-left: auto;
        margin-right: auto;
        height: 121px;
        @media (max-width: @screen-xs-max) {
          height: 60px;
          background-size: inherit;
        }
        opacity: 0.75;
        background: url('/static/img/anabella.png') center no-repeat;
      }

      &:hover {
        .image {
          opacity: 1;
        }
      }
    }
    &.friends {
      margin-bottom: 0px;
      @media (max-width: @screen-xs-max) {
        margin-bottom: 10px;
      }
      .heading {
        height: 60px;
        line-height: 60px;
        vertical-align: middle;
        @media (max-width: @screen-xs-max) {
          margin-bottom: 0;
          font-size: 18px;
        }
      }
      .container_image {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
        @media (max-width: @screen-xs-max) {
          margin-top: 0px;
        }
        .image {
          height: 60px;
          background: url('/static/img/salvador_bord.png') center no-repeat;
          background-size: contain;
          img {
            max-height: 40px;
          }
        }
      }
      .panel-body {
        height: 206px;
        @media (max-width: @screen-xs-max) {
          height: inherit;
        }
      }
      &:hover {
        .image {
          background: url('/static/img/salvador_white.png') center no-repeat;
          background-size: contain;
        }
      }
    }
    .heading {
      font-size: 20px;
    }
  }
  .copyright {
    font-family: sans-serif;
    border-top: 1px solid @bord;
    line-height: 27px;
    a {
      color: @pink2;
      &:hover {
        color: @bord2;
      }
    }
    width: 100%;
    position: absolute;
    bottom: 0;
    background: @pink;
    .code {
      float: right;
      padding-right: 15px;
    }
    .design {
      text-align: center;
    }
  }

  .region_cart {
    .cart_view {
      position: absolute;
      top: -40px;
      height: 40px;
      background: #fff;
      width: 100%;
      border-top: 1px solid @bord;
      .desc {
        width: 100%;
        text-align: center;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        letter-spacing: 1px;
        .total_price, .total_quantity {
          color: #000;
        }

        @media (max-width: @screen-xs-max) {
          font-size: 11px;
          letter-spacing: 0px;
        }
      }
      .column_order {
        width: 25%;
        @media (max-width: @screen-xs-min) {
          width: 40%;
        }
        height: 39px;
        line-height: 39px;
        float: right;
        padding-left: 8px;
        vertical-align: middle;
        .container_order {
          cursor: pointer;
          text-align: center;
          background: lighten(@pink, 25%);
          color: @pink;
          letter-spacing: 1px;
          text-transform: uppercase;
          line-height: 39px;
          height: 39px;
          .order {
            @media (max-width: @screen-xs-min) {
              font-size: 10px;
            }
            line-height: 20px;
            display: inline-block;
          }
        }
      }
    }
  }
}