.navbar {
  ul {
    margin-bottom: 0;
  }
  &.affix-top {
    margin-bottom: -150px;
  }
  &.affix {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    z-index: 10;
  }
  text-align:center;
  text-transform: uppercase;
  height: 150px;
  background: #fff;
  border-bottom: 1px solid @pink;
  .navbar-right, .navbar-left {
    display: inline-block;
    width: 360px;
    vertical-align: top;
    margin-top: 60px;
    .container_hex {
      display: inline-block;
      line-height: 30px;
      .hex {
        font-weight: bold;
        color: #000;
        vertical-align: text-bottom;
        font-size: 8px;
      }
    }
    li {
      font-size: 22px;
      list-style: none;
      a {
        color: #000;
        &:hover {
          color: @bord;
          border-bottom: 2px solid @bord;
        }
      }
      &.active {
        a {
          color: @bord;
          border-bottom: 2px solid @bord;
        }
        .hex {
          color: @bord;
        }
      }
    }
  }
  .navbar-left li {
    margin-right: 30px;
    .container_hex {
      margin-right: 15px;
    }
  }
  .navbar-right li {
    margin-left: 30px;
    .container_hex {
      margin-left: 15px;
    }
  }

  .logo {
    vertical-align: top;
    display: inline-block;
    margin-top: 20px;
    width: 160px;
    height: 96px;
    background: url('/static/img/logo/160_pink.png');
    &:hover {
      background: url('/static/img/logo/160_bord.png');
    }
  }
}