.body_shipping {
  .content {
    padding-top: 0px;
  }
  .image_list {
    .col-xs-4 {
      padding: 0;
    }
    img {
      width: 100%;
    }
  }
  .container_address {
    margin-top: 35px;
    .address {
      padding-left: 25px;
      .order {
        margin-top: 20px;
        margin-bottom: 30px;
        .btn {
          display: inline-block;
          background: lighten(@pink, 25%);
          margin-top: 20px;
          color: @pink;
          text-transform: uppercase;
          padding: 5px 30px;
          letter-spacing: 2px;
          font-size: 12px;
        }
      }
    }
  }
  .yandex_map {
    margin-bottom: 20px;
  }
}