{% load static from staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}"/>
    <link href='https://fonts.googleapis.com/css?family=Kurale&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <script src="{% static 'vendor.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
</head>
<body class="{% block body_class %}{% endblock %}">
{% block pre_content %}{% endblock %}
<div class="region_navbar"></div>
<div class="content">
    {% block content %}{% endblock %}
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel vacancy">
                    <a class="panel-body" href="{% url 'vacancy' %}">
                        <div class="heading">
                            {% trans "Vacancies" %}
                        </div>
                    </a>
                </div>
                <div class="panel social">
                    <div class="panel-body">
                        <div class="container_social_list">
                            <ul class="social_list list-unstyled list-inline">
                                <li>
                                    <a href="http://vk.com/tiflisgurme" target="_blank">
                                        <i class="fa fa-vk"></i>
                                        {#                                    <span class="vk_icon"></span>#}
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/TiflisGurme/?pnref=lhc" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/tiflisgurme/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <div class="panel production">
                    <a class="panel-body" href="#" target="_blank">
                        <div class="row">
                            <div class="heading col-sm-12 col-xs-6">
                                {% trans "Our production" %}
                            </div>
                            <div class="col-sm-12 col-xs-6 image"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <div class="panel friends">
                    <a class="panel-body" href="http://salvadordali.center/" target="_blank">
                        <div class="row">
                            <div class="heading col-sm-12 col-xs-6">
                                {% trans "Our friends" %}
                            </div>
                            <div class="image col-sm-12 col-xs-6"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        {#        <div class="code">#}
        {#            <a href="https://github.com/vinograd19/tiflisgurme" target="_blank">code</a>#}
        {#        </div>#}
        <div class="design">
            made by <a href="#" target="_blank">aunda</a>
        </div>
    </div>
</footer>
</body>
</html>
