{% extends 'base.html' %}
{% load static from staticfiles %}
{% block body_class %}body_category{% endblock %}
{% load thumbnail %}
{% block content %}
    <div class="container">
        <div class="container_category_list">
            <div class="category_list row">
                {% for c in category_list %}
                    <div class="category_item col-md-4 {% if c == category %}active{% endif %}">
                        <a href="{% url 'category' c.id %}">{{ c.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if category.kind == 'table' %}
            <div class="layout_table">
                <div class="product_list row">
                    {% for product in category.product_set.all %}
                        <div class="col-md-3">
                            <div class="product_item" data-id="{{ product.id }}">
                                {% if product.image %}
                                    <div class="container_image">
                                        {% thumbnail product.image "225x150" upscale=True crop='center' as im %}
                                            <img src="{{ im.url }}">
                                        {% endthumbnail %}
                                    </div>
                                {% endif %}
                                <div class="container_name">
                                    <div class="name">
                                        {{ product.name }}
                                    </div>
                                </div>
                                <div class="container_price">
                                    <div class="price">{{ product.price }} руб.</div>
                                    <div class="container_buy"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if category.kind == 'menu' %}
            <div class="layout_menu">
                <div class="row">
                    <div class="col-md-5 product_list">
                        {% if product_without_sc.exists %}
                            <div class="sc_item">
                                {% for p in product_without_sc %}
                                    <div class="product_item">
                                        <div class="container_name">{{ p.name }}</div>
                                        <div class="container_points">
                                            <div class="points"></div>
                                        </div>
                                        <div class="container_price">
                                            {{ p.price }} руб.
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% for sc in category.subcategory_set.all %}
                            <div class="sc_item">
                                <div class="sc_name">{{ sc.name }}</div>
                                {% for p in sc.product_set.all %}
                                    <div class="product_item">
                                        <div class="container_name">{{ p.name }}</div>
                                        <div class="container_points">
                                            <div class="points"></div>
                                        </div>
                                        <div class="container_price">
                                            {{ p.price }} руб.
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <div class="container_category_image">
                            {% thumbnail category.image "x370" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="region_modal modal fade"></div>
{% endblock %}