{% extends 'base.html' %}
{% load static from staticfiles %}
{% block body_class %}body_category{% endblock %}
{% load thumbnail %}
{% load shop_tags %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="sm_title">{{ category.name }}</div>
        <div class="container_category_list">
            <div class="category_list row">
                {% for c in category_list %}
                    <div class="category_item col-md-4 {% if c == category %}active{% endif %}">
                        <a href="{% url 'category' c.id %}">{{ c.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if category.kind == 'table' %}
            <div class="layout_table">
                <div class="product_list row">
                    {% for product in category.product_set.all %}
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="product_item"
                                 data-id="{{ product.id }}"
                                 data-name="{{ product.name }}"
                                 data-desc="{{ product.desc }}"
                                 data-price="{{ product.price }}"
                                 data-portion="{{ product.portion }}"
                                 data-thumb="{{ product.get_thumb }}"
                                    >
                                {% if product.image %}
                                    <div class="container_image">
                                        {% thumbnail product.image "235x150" upscale=True crop='center' as im %}
                                            <img src="{{ im.url }}">
                                        {% endthumbnail %}
                                    </div>
                                {% else %}
                                    <div class="container_empty_image">
                                        <img src="{% static 'img/logo/pink.svg' %}" alt="">
                                    </div>
                                {% endif %}
                                <div class="container_name">
                                    <div class="name">
                                        {{ product.name }}
                                    </div>
                                </div>
                                <div class="container_price">
                                    <div class="price">{{ product.price }} {% trans 'rub' %}.</div>
                                    <div class="container_buy">
                                        <div class="remove"></div>
                                        <div class="quantity">{% get_cart_quantity request product %}</div>
                                        <div class="add"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if category.kind == 'menu' %}
            <div class="layout_menu">
                <div class="row">
                    <div class="col-md-6 product_list">
                        {% if product_without_sc.exists %}
                            <div class="sc_item">
                                <ul class="leaders">
                                    {% for p in product_without_sc %}
                                        <li class="product_item">
                                            <span class="price">
                                                {{ p.price }} {% trans 'rub' %}.
                                            </span>
                                            <span class="name">
                                                {{ p.name }}
                                                <span class="portion">
                                                    {{ p.portion }}
                                                </span>
                                            </span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        {% for sc in category.subcategory_set.all %}
                            <div class="sc_item">
                                <div class="sc_name">{{ sc.name }}</div>
                                <ul class="leaders">
                                    {% for p in sc.product_set.all %}
                                        <li class="product_item">
                                            <span class="price">
                                                {{ p.price }} {% trans 'rub' %}.
                                            </span>
                                            <span class="name">
                                                {{ p.name }}
                                                <span class="portion">
                                                    {{ p.portion }}
                                                </span>
                                            </span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        {% for ci in category.categoryimage_set.all %}
                            <div class="container_category_image">
                                {% thumbnail ci.image "x370" as im %}
                                    <img src="{{ im.url }}">
                                {% endthumbnail %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="region_modal modal fade"></div>
{% endblock %}