{% extends 'base.html' %}
{% load static from staticfiles %}
{% block body_class %}body_contact{% endblock %}
{% load bootstrap3 %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <script type="text/javascript" charset="utf-8"
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=IDpEVus-pgaehE7df95enebej0cxOdYv&width=100%&height=400&lang=ru_RU&sourceType=constructor"></script>
            </div>
            <div class="col-md-4 address">
                КАФЕ-ХИНКАЛЬНАЯ <br>
                «ТИФЛИС ГУРМЭ»
                <p></p>
                Старопетровский пр-д. <br>
                1 м. Войковская

                <p></p>

                {% if phone_list.all.exists %}
                    Вы можете забронировать столик, заказать банкет и позвонить <br>
                    по интересующему вас вопросу по телефонам:
                    <p></p>
                    <ul class="phone_list list-unstyled">
                        {% for phone in phone_list %}
                            <li>{{ phone.value }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>
        </div>


        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center container_time">
                <div class="line_hex">
                    <div class="container_line">
                        <div class="line"></div>
                    </div>
                    <div class="hex">⬡</div>
                    <div class="container_line">
                        <div class="line"></div>
                    </div>
                </div>
                <div class="div">
                    <span class="glyphicon glyphicon-time"></span>
                </div>
                <div class="time">12:00 ― 22:00</div>
                <div class="today">
                    {{ now|date:"H:i" }} ― Сегодня {{ weekday }}. {{ open_text }}
                </div>
                <div class="line_hex">
                    <div class="container_line">
                        <div class="line"></div>
                    </div>
                    <div class="hex">⬡</div>
                    <div class="container_line">
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h4>Напишите нам, и мы вам обязательно ответим!</h4>

                <div>
                    <img src="{% static 'img/khink.png' %}" class="khink">
                </div>

                {% if form %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {% bootstrap_field form.name %}
                        <div class="row">
                            <div class="col-md-6">
                                {% bootstrap_field form.phone %}
                            </div>
                            <div class="col-md-6">
                                {% bootstrap_field form.email %}
                            </div>
                        </div>


                        {% bootstrap_field form.text %}

                        <div class="text-center">
                            <button type="submit">Отправить</button>
                        </div>
                    </form>

                {% else %}
                    <div class="success_message">Отправлено!</div>
                    <form action="/contact/" method="get">
                        <div class="text-center">
                            <button type="submit">Отправить новое письмо?</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}