{% extends 'base.html' %}
{% load static from staticfiles %}
{% block body_class %}body_contact{% endblock %}
{% load bootstrap3 %}
{% load i18n %}
{% load shop_tags %}
{% block content %}
    <div class="container">
        <div class="sm_title">Контакты</div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <script type="text/javascript" charset="utf-8"
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=IDpEVus-pgaehE7df95enebej0cxOdYv&width=100%&height=400&lang=ru_RU&sourceType=constructor"></script>
            </div>
            <div class="col-md-4 address">
                {% trans 'Cafe-Khinkalnaya' %} <br>
                {% trans '«Tiflis Gourme»' %}
                <p></p>
                {% trans 'Staropetrovskiy proezd 1' %} <br>
                {% trans 'm. Voykovskaya' %}
                {% if phone_list.all.exists %}
                    <p></p>
                    {% text_block 'book' %}
                    <p></p>
                    <ul class="phone_list list-unstyled">
                        {% for phone in phone_list %}
                            <li>{{ phone.value }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>
        </div>


        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center container_time">
                <div class="line_hex">
                    <div class="container_line">
                        <div class="line"></div>
                    </div>
                    <div class="hex">
                        <img src="{% static 'svg/hex_pink.svg' %}" alt="">
                    </div>
                    <div class="container_line">
                        <div class="line"></div>
                    </div>
                </div>
                <div class="div">
                    <img src="{% static 'svg/time_pink.svg' %}" alt="">
                </div>
                <div class="time">12:00 ― 22:00</div>
                <div class="today">
                    {{ now|date:"H:i" }} ― {% trans 'Today is' %} {{ weekday }}. {{ open_text }}
                </div>
                <div class="line_hex">
                    <div class="container_line">
                        <div class="line"></div>
                    </div>
                    <div class="hex">
                        <img src="{% static 'svg/hex_pink.svg' %}" alt="">
                    </div>
                    <div class="container_line">
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h4>{% trans 'Write a message and me will answer for sure!' %}</h4>

                <div>
                    <img src="{% static 'img/khink.png' %}" class="khink">
                </div>

                {% if form %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group"><input class="form-control" id="id_name" maxlength="100" name="name" placeholder="{% trans 'Name' %}" required="required" title="" type="text"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"><input class="form-control" id="id_phone" maxlength="100" name="phone" placeholder="{% trans 'Phone' %}" required="required" title="" type="text"></div>
                            </div>
                            <div class="col-md-6">
                                {% bootstrap_field form.email %}
                            </div>
                        </div>


                        <div class="form-group"><textarea class="form-control" cols="40" id="id_text" maxlength="100" name="text" placeholder="{% trans 'Message Text' %}" required="required" rows="6" title=""></textarea></div>

                        <div class="text-center">
                            <button type="submit" class="btn">
                                <span>
                                    {% trans 'Send' %}
                                </span>
                            </button>
                        </div>
                    </form>

                {% else %}
                    <div class="success_message">{% trans 'Sent!' %}</div>
                    <form action="{% url 'contact' %}" method="get">
                        <div class="text-center">
                            <button type="submit">{% trans 'Send another message?' %}</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}