{% extends 'base.html' %}
{% load static from staticfiles %}
{% block body_class %}body_home{% endblock %}
{% load thumbnail %}
{% block pre_content %}
    <div class="ribbon">
        <div class="angle"></div>
        <ul class="lang_list list-unstyled list-inline">
            <li class="active">
                <a href="#">RUS</a>
            </li>
            <li>
                <a href="#">EN</a>
            </li>
        </ul>
        <ul class="social_list list-unstyled list-inline">
            <li>
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-vk"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="container_welcome">
        <div class="welcome_image"></div>
        <div class="container_logo">
            <div>
                <img src="{% static 'img/logo/315_white.png' %}" class="logo">
            </div>
            Кафе-хинкальная для всей семьи
        </div>
        <div class="today">
            <span class="glyphicon glyphicon-time"></span>
            {{ now|date:"H:i" }} ― Сегодня {{ weekday }}. {{ open_text }}
        </div>
        <a href="#" class="arrow_bottom">
            <i class="fa fa-angle-double-down"></i>
        </a>
    </div>
{% endblock %}
{% block content %}
    <div class="container welcome_text">
        Это кафе было открыто для себя и для друзей, и поэтому о вкусовых качествах и о качестве самой еды разговаривать
        бессмысленно. В нем собраны лучшие повара грузинской кухни и вся команда, можно сказать, это одна большая
        семья, а это уже говорит о многом!

        <p></p>
        Обычно после громких слов появляются высокие ожидания, но наши слова недостаточно громки по сравнению с
        наслаждением, которое получают наши гости!
    </div>
    <div class="container_khink">
        <img src="{% static 'img/khink.png' %}" alt="">
    </div>
    <div class="container_slider">
        <div class="slider">
            {% for home_image in home_image_list %}
                <div class="item">
                    {% thumbnail home_image.image "x560" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}