{% extends 'base.html' %}
{% load static from staticfiles %}
{% block body_class %}body_home{% endblock %}
{% load thumbnail %}
{% load shop_tags %}
{% load i18n %}
{% block pre_content %}
    <div class="ribbon hidden-xs hidden-sm">
        <div class="angle"></div>
        <ul class="lang_list list-unstyled list-inline">
            <li {% if LANGUAGE_CODE == 'ru' %}class="active"{% endif %}>
                <a {% if LANGUAGE_CODE != 'ru' %}href="{% change_lang request 'ru' %}"{% endif %}>РУС</a>
            </li>
            <li {% if LANGUAGE_CODE == 'en' %}class="active"{% endif %}>
                <a {% if LANGUAGE_CODE != 'en' %}href="{% change_lang request 'en' %}"{% endif %}>EN</a>
            </li>
        </ul>
        <ul class="social_list list-unstyled list-inline">
            <li>
                <a href="http://vk.com/tiflisgurme" target="_blank">
                    <i class="fa fa-vk"></i>
                    {#                    <span class="vk_icon"></span>#}
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/TiflisGurme/?pnref=lhc" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/tiflisgurme/" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="container_welcome">
        <div class="welcome_image"></div>
        <div class="container_logo">
            <div class="image"></div>
            <div class="title">
                {% text_block 'title' %}
            </div>
        </div>
        <div class="today">
            <span class="glyphicon glyphicon-time time"></span>
            {{ now|date:"H.i" }} ― {% trans 'Today is' %} {{ weekday }}. {{ open_text }}
        </div>
        <a href="#" class="arrow_bottom">
            <i class="fa fa-angle-double-down"></i>
        </a>
    </div>
{% endblock %}
{% block content %}
    <div class="container welcome_text">
        {% text_block 'welcome_text' %}
    </div>
    <div class="container_khink">
        <img src="{% static 'img/khink.png' %}" alt="">
    </div>
    <div class="container_slider">
        <div class="slider">
            {% for home_image in home_image_list %}
                <div class="item">
                    {% thumbnail home_image.image "x560" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        var w = window,
                d = document,
                e = d.documentElement,
                g = d.getElementsByTagName('body')[0],
                x = w.innerWidth || e.clientWidth || g.clientWidth,
                y = w.innerHeight || e.clientHeight || g.clientHeight;
        var welcome_el = d.getElementsByClassName('container_welcome')[0];
        welcome_el.style.height = y + 'px';

    </script>
{% endblock %}