{% extends 'base.html' %}
{% load static from staticfiles %}
{% block body_class %}body_menu{% endblock %}
{% load thumbnail %}
{% block content %}
    <div class="container">
        <div class="container_category_list">
            <div class="category_list row">
                {% for c in category_list %}
                    <div class="col-md-3">
                        <a class="category_item" href="{% url 'category' c.id %}">
                            {% if c.image %}
                                <div class="container_image">
                                    {% thumbnail c.image "231x153" crop="center" as im %}
                                        <img src="{{ im.url }}">
                                    {% endthumbnail %}
                                </div>
                            {% else %}
                                <div class="container_empty_image">
                                    <img src="{% static 'img/logo/pink.svg' %}" alt="">
                                </div>
                            {% endif %}
                            <div class="container_name">
                                <div class="name">{{ c.name }}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}