{% load static from staticfiles %}
{% load shop_tags %}
<nav class="navbar">
    <div class="container">
        <ul class="navbar-left list-inline">
            <li class="{% active request '/menu/' %}">
                <div class="container_hex">
                    <span class="hex"></span>
                </div>
                <a href="/menu/">Меню</a>
            </li>
            <li class="{% active request '/shipping/' %}">
                <div class="container_hex">
                    <span class="hex"></span>
                </div>
                <a href="/shipping/">Доставка</a>
            </li>
        </ul>
        <div class="container_logo">
            <a class="logo" href="/"></a>
        </div>
        <ul class="navbar-right list-inline">
            <li class="{% active request '/news/' %}">
                <a href="/news/">Новости</a>

                <div class="container_hex">
                    <span class="hex"></span>
                </div>
            </li>
            <li class="{% active request '/contact/' %}">
                <a href="/contact/">Контакты</a>

                <div class="container_hex">
                    <span class="hex"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>
