{% extends 'base.html' %}
{% load static from staticfiles %}
{% block body_class %}body_vacancy{% endblock %}
{% load i18n %}
{% load shop_tags %}
{% block content %}
    <div class="sm_title">Вакансии</div>
    <div class="row image_list">
        <div class="col-sm-6">
            <div class="container_image">
                <img src="{% static 'img/vacancy/1.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-sm-6 hidden-xs">
            <div class="container_image">
                <img src="{% static 'img/vacancy/2.jpg' %}" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="container_heading">
                    <span class="heading">{% trans 'Hot vacancies' %}</span>
                </div>
                {% text_block 'work' %}
                <div class="vacancy_list">
                    {% for vacancy in vacancy_list %}
                        <div class="vacancy_item">
                            <div class="name">{{ vacancy.name }}</div>
                            {{ vacancy.text }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}